<%- include('partials/header') %>
<% Data.forEach(data =>{ %>
    <div class="box">
        <div class="intro">
            <b><p><%= data.name %>||</p></b>
            <p><%= data.location %>||</p>
            <p><%= data.size %>||</p>
            <p>#<%= data.amount %></p>
        </div>
        <div class="descr">
            <h4><%= data.short %></h4>
        </div>
    </div>
    
<% }) %>
<%- include('partials/footer') %>